<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyServletPractise</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>EmailList</servlet-name>
    <servlet-class>com.abyssibex.EmailList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailList</servlet-name>
    <url-pattern>/EmailList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletOne</servlet-name>
    <servlet-class>com.pakage.mvc.ServletOne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletOne</servlet-name>
    <url-pattern>/ServletOne</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateForm</display-name>
    <servlet-name>ValidateForm</servlet-name>
    <servlet-class>ValidateForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateForm</servlet-name>
    <url-pattern>/ValidateForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkUser</display-name>
    <servlet-name>checkUser</servlet-name>
    <servlet-class>com.pakage.mvc.checkUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkUser</servlet-name>
    <url-pattern>/checkUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUser</display-name>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>com.pakage.mvc.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/RegisterUser</url-pattern>
  </servlet-mapping>
</web-app>